<div class="form-wrapper">
	<ul class="nav nav-tabs">
		<% $.each(models, function(i, model){ %>
			<li <%= i == 0 ? "class=active" : "" %>>
				<a href="javascript://" class="open-page-content-form" <%= (el)-> el.data('contentType', model) %>><%= model.contentTypeModel().humanizedName() %> page</a>
			</li>
		<% }) %>
	</ul>
	<div class="form-panel"></div>
</div>