<div class="module-header">
	<div class="btn-group">
		<a href="<%= can.route.url({action: "new", type: "slots"}) %>" class="btn btn-mini btn-inverse">
			<i class="icon-plus-sign"></i> Add Slot
		</a>
	</div>
</div>
<div class="module-content">
	
</div>
