@import "../../style/elements/elements.less";

.admin_pages_form {
	.calculated-path {
		margin-bottom: 0;
		font-size: 11px;
	}
	.content-section-wrap, .page-content-type-wrap {
		padding-top: 5px;
		select {
			width: 565px;
		}
	}
	select#page_node_type, select#page_template_group {
		width: 798px;
	}
	.content-slots-categories ul.nav-tabs {
		margin-left: -20px;
		margin-right: -20px;
		padding: 0 20px;
	}
	.template-group-wrap {
		display: none;
	}
	#page_link_url {
		width: 790px;
	}
	.admin_content_form {
		margin: 0 0 0 -20px;
		.form-wrapper {
			margin: 0;
			.box-shadow(none);
		}
		form {
			margin-bottom: -1px;
		}
	}
}