<div class="control-group">
	<label class="control-label">
		<% if(this.collection){ %>
			<i class="icon-sort"></i>
		<% } %>
		<%= this.collection ? field.name : attr %>
		<% if(this.collection){ %>
			<span class="remove"><i class="icon-remove-sign"></i> Remove</span>
		<% } %>
	</label>
	<div class="controls">
		<input type='text' value="<%= this.model[this.attr] %>" class="full-width integer-field" /> 
	</div>
</div>