<div class="control-group">
	<label class="control-label">
		<% if(this.collection){ %>
			<i class="icon-sort"></i>
		<% } %>
		<%= this.collection ? field.name.humanize() : attr.humanize() %>
		<% if(this.collection){ %>
			<span class="remove"><i class="icon-remove-sign"></i> Remove</span>
		<% } %>
	</label>
	<div class="controls">
		<textarea class="full-width"><%= this.model[this.attr] %></textarea>
	</div>
</div>