<div class="control-group form-vertical">
	<label>
		<span class="label-text">
			<% if(this.collection){ %>
				<i class="icon-sort"></i>
			<% } %>
			<%= collection ? fieldType.name.humanize() : attr.humanize() %>
		</span>
		<% if(this.collection){ %>
			<span class="remove"><i class="icon-remove-sign"></i> Remove</span>
		<% } %>
	</label>
	<div class="block-fields">
		<div class="attachment-field-wrap">
			<div class="attachment-toolbar btn-group">
				<a href="javascript://" class="select-attachment btn btn-mini"><i class="icon-file"></i></a>
				<% if(this.model.attr(this.attr + ".url")){ %>
					<a href="javascript://" class="remove-attachment btn btn-mini"><i class="icon-remove"></i></a>
				<% } %>
			</div>
			<% if(this.model.attr(this.attr + ".url")){ %>
				<div class="attachment">
					<input type='text' value="<%= this.model.readAttr(this.attr + '.name') %>" class="full-width" /> 
					<div class="info"><%= this.model.readAttr(this.attr + ".url").split('/').pop() %> (<%= humanizedBytes(this.model.readAttr(this.attr + ".size")) %>)</div>
				</div>
			<% } %>
		</div>
	</div>
</div>