<div class="rule-wrap form-inline clearfix equals-rule" data-rule="equals">
	<div class="reorder-handle"><i class="icon-sort"></i></div>
	<div class="error"><i class="icon-warning-sign"></i></div>
	<select class="string-fields">
		<option value="">Select Field</option>
		<% for(var field in fields){ %>
			<% if(fields.hasOwnProperty(field) && fields[field] === "string"){ %>
				<option value="<%= field %>" <%= field === selectedField ? "selected" : "" %>><%= field.titleize() %></option>
			<% } %>
		<% } %>
	</select>
	<label>
		<span>is equal to</span>
		<input type="text" class="input-small" value="<%= value %>" />
	</label>
	<a href="javascript://" class="btn btn-small remove-rule"><i class="icon-minus"></i></a>
</div>