<div class="rule-wrap form-inline clearfix or-rule" data-rule="or">
	<div class="reorder-handle"><i class="icon-sort"></i></div>
	<div class="or-wrap"><hr /><span>OR</span></div>
	<a href="javascript://" class="btn btn-small remove-rule"><i class="icon-minus"></i></a>
</div>