<div class="rule-wrap form-inline clearfix tagged-with-rule" data-rule="tagged_with">
	<div class="reorder-handle"><i class="icon-sort"></i></div>
	<label>
		<span>Item is tagged with</span>
		<input type="text" class="input-small" />
	</label>
	<a href="javascript://" class="btn btn-small remove-rule"><i class="icon-minus"></i></a>
</div>