<h4 class="content-title">Content for the <%== can.route.attr('behavior').humanize() %> behavior</h4>
<% if(contentTypeDefinition.fields.length === 0){ %>
	<div class="alert alert-info">This template group has no editable fields.</div>
<% } else { %>
	<div <%= (el)-> el.admin_content_form({model: model, contentType: contentTypeDefinition, isPageContent: true})%>></div>
<% } %>


<h4>Rendered with:</h4>
<div class="rendered-with">
	<% var renderedWith = contentTypeDefinition.attr('rendered_with').attr(); %>
	<% for(var k in renderedWith){ %>
		<div class="render-with">
			<span class="label label-info"><%= k.toUpperCase() %></span> <%= renderedWith[k] %>
		</div>
	<% } %>
</div>