<ul class="nav nav-tabs">
	<li class="active"><a href="<%= can.route.url({settings: "content"}, true) %>">Content</a></li>
	<li><a href="<%= can.route.url({settings: "slots"}, true) %>">Slots</a></li>
	<li><a href="<%= can.route.url({settings: "categories"}, true) %>">Categories</a></li>
</ul>