<div class="control-group">
	<label class="control-label" for="page_link_url">Link URL</label>
	<div class="controls">
		<input id="page_link_url" class="span3" type="text" size="16" name="page[link_url]">
	</div>
</div>