<div class="site-settings-wrap">
	<div class="control-group">
		<label class="control-label" for="page_site_domain">Site domain</label>
		<div class="controls">
			<input id="page_site_domain" class="span3" type="text" size="16" name="page[site_domain]">
		</div>
	</div>
</div>