<div class="actions">
	<div class="btn-group">
		<button class="btn btn-mini <%= selected.attr('length') == 0 ? "disabled" : ""%> publish-selected">Publish</button>
		<button class="btn btn-mini btn-danger <%= selected.attr('length') == 0 ? "disabled" : ""%> delete-selected">Delete</button>
	</div>
</div>
<form class="form-inline">
	<div class="input-wrap">
		<label>Publish status:</label>
		<select name="state[publish_state]">
			<option value="any">Any</option>
			<option value="draft">Draft</option>
			<option value="published">Published</option>
		</select>
	</div>
	<div class="input-wrap">
		<label>Section:</label>
		<select name="state[in_section]">
			<option value="">Any</option>
			<%== sectionTree %>
		</select>
	</div>
</form>