<ul class="nav nav-list">
	<li class="nav-header">Content</li>
	<% for(var i = 0; i < contentTypes.length; i++){ %>
		<li><a href="<%= can.route.url({type: "content", content_type: contentTypes[i].id, action: "new"}) %>"><i class="icon-file icon-large"></i> <%= contentTypes[i].name.pluralize() %></a></li>
	<% } %>
	<li><a href="#"><i class="icon-sitemap icon-large"></i> Pages</a></li>
</ul>