@import "../../../../style/elements/elements.less";

.admin_content_types_atom_rte {
	margin-bottom: 10px;
	.editor {
		background: #eee;
		min-height: 50px;background: #eee;
		border: none;
		.rounded(2px);
		padding: 5px;
		&:focus {
			.box-shadow(0 0 0 1px #ccc);
		}
	}
}