@import "../../../../style/elements/elements.less";

.admin_content_types_atom_rte {
	margin-bottom: 10px;
	.editor {
		background: #eee;
		min-height: 50px;
		border: none;
		.rounded(2px);
		&:focus {
			.box-shadow(0 0 0 1px #ccc);
		}
	}
	.redactor_box {
		.redactor_editor {
			background: #eee !important;
		}
	}
}