<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>admin</title>
	</head>
	<body>
		<div id="navigation"></div>
		<div id="content"></div>
		<script type='text/javascript' src='/kekomi/steal/steal.js?admin/admin.js'></script>
	</body>
</html>