<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>admin</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="navigation"></div>
			<div id="content"></div>
			<div id="uploader"></div>
			<div id="dragover-notice" style="display: none"><i class="icon-upload-alt"></i><span>Drop file(s) to upload</span></div>
		</div>
		<script type='text/javascript' src='/kekomi/steal/steal.js?admin/admin.js'></script>
	</body>
</html>