<% if(this.pages.length === 0){ %>
	<div class="alert alert-info">There are no pages. <a href="<%= can.route.url({action: "new"}, true) %>" class="add-page">Add page</a></div>
<% } else { %>
	<div class="pages-wrapper">
		<%== can.view.render("//admin/pages/tree/views/leaf.ejs", {children: pages.childrenOf(), pages: pages}) %>
	</div>
<% } %>