<div class="module-header">
	<div class="btn-group">
		<a href="<%= can.route.url({action: "list", type: "content", content_type: can.route.attr('content_type')}) %>" class="btn btn-mini btn-inverse">
			<i class="icon-table"></i> List Content
		</a>
		<a href="<%= can.route.url({action: "new", type: "content", content_type: can.route.attr('content_type')}) %>" class="btn btn-mini btn-inverse">
			<i class="icon-plus-sign"></i> Add Content
		</a>
	</div>
</div>
<div class="module-content">
	
</div>
