<div class="rules"></div>
<div class="add-rules-wrap clearfix">
	<select class="rule">
		<option value="">Select Rule</option>
		<option value="contains" data-field-type="string">Field Contains</option>
		<option value="starts_with" data-field-type="string">Field Starts With</option>
		<option value="ends_with" data-field-type="string">Field Ends With</option>
		<option value="equals" data-field-type="string">Field Is Equal To</option>
		<option value="date_equal" data-field-type="date">Field Has a Date Equal To</option>
		<option value="date_before" data-field-type="date">Field Has a Date Before</option>
		<option value="date_after" data-field-type="date">Field Has a Date After</option>
		<option value="date_period" data-field-type="date">Field Has a Date in Period</option>
		<option value="tagged_with" data-field-type="tags">Item is Tagged With</option>
		<option value="or">Or</option>
	</select>
	<a href="javascript://" class="btn btn-small add-rule"><i class="icon-plus-sign"></i> Add Rule</a>
</div>