<div class="sort-wrapper form-horizontal clearfix">
	<label>Sort Items by</label>
	<select class="sort-field">
		<option value="published_at">published_at</option>
	</select>
	<select class="sort-dir">
		<option value="desc">Descending</option>
		<option value="asc">Ascending</option>
	</select>
</div>
<div class="rules"></div>
<div class="add-rules-wrap clearfix">
	<select class="rule">
		<option value="">Select Rule</option>
		<option value="contains" data-field-type="string" disabled>- Field Contains</option>
		<option value="starts_with" data-field-type="string" disabled>- Field Starts With</option>
		<option value="ends_with" data-field-type="string" disabled>- Field Ends With</option>
		<option value="equals" data-field-type="string" disabled>- Field Is Equal To</option>
		<option value="period" data-field-type="date" disabled>- Field has a Date in a period</option>
		<option value="date_equal" data-field-type="date" disabled>- Field Has a Date Equal To</option>
		<option value="date_before" data-field-type="date" disabled>- Field Has a Date Before</option>
		<option value="date_after" data-field-type="date" disabled>- Field Has a Date After</option>
		<option value="date_range" data-field-type="date" disabled>- Field Has a Date in Range</option>
		<option value="tagged_with" data-field-type="tags" disabled>- Item is Tagged With</option>
		<option value="or" disabled>- Or</option>
	</select>
	<a href="javascript://" class="btn btn-small btn-primary add-rule"><i class="icon-plus"></i></a>
</div>