<form class="form-horizontal">
	<div class="content-form form-wrapper">
		<% list(contentType.attr('fields'), function(field, i){ %>
			<div <%= (el)-> renderField(el, field, model, field.name)%> class="content-type-level"></div>
		<% }) %>
		<input type="submit" value="save" class="btn btn-primary" />
	<div>
</form>