<div class="module-content">
	<div class="folders"></div>
<<<<<<< HEAD
	<div class="asset-list">
		<% list(assets, function(asset, tabindex){ %>
			<%== can.view.render("//admin/asset_manager/views/asset.ejs", {asset: asset, icons: icons, tabindex: tabindex}) %>
		<% }) %>
	</div>
=======
	<div class="asset-list"></div>
>>>>>>> 701834f098994796692ec4b9c7b90e3ec2d74e7c
</div>