<div class="page-wrapper clearfix">
	<div class="name"><i class="icon-reorder"></i><%= page.name %></div>
	<div class="actions"><i class="icon-pencil edit-page"></i><i class="icon-remove-sign remove-page"></i></div>
</div>